* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: #fff;
    user-select: none;
    /* border: 1px solid rgb(0, 38, 255) !important; */
}

cr {color: #df6d6d}
co {color: #df9d6d}
cy {color: #dfc56d}
cg {color: #6ddf71}
cl {color: #6da2df}

/* --- Root styles --- */
:root {
    --bgColor: #09090b;
    --popupColor: rgba(0, 0, 0, 0.5);
    --contentBoxColor: rgb(28, 28, 28);
    --contentBoxColorSelected: rgb(35, 35, 35);
    --inputLineColor: rgb(9, 9, 9);

    --defaultFont: Lexend Deca, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: var(--bgColor);
}
body::-webkit-scrollbar { width: 0vh }

.__header {
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
}

.__header-content {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: #ffffff08;
    border: 0 solid rgba(255, 255, 255, .1);
    border-bottom-width: 1px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 1.3vh;
}

.__header-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 1vh;
}

.__header-logo-label {
    font-family: var(--defaultFont);
}

.__header-menu-selector {  
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    gap: 1.5vh;
}

.__header-menu-item {
    font-family: var(--defaultFont);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5vh;
    padding: 1vh 2vh;
    background: #3085af;
    border-radius: 1vh;
    transition: .2s;
}

.__header-menu-item:hover {
    background: #439dca;
}

.__header-menu-item:active {
    background: rgb(0, 162, 255);
}

.sections-menu {
    display: flex;
    align-items: center;
    gap: 2vh;
    line-height: 1.25rem;
    background: #0000004d;
    padding: 1.5vh 2vh;
    border-radius: 2vh;
    font-family: var(--defaultFont);
    font-size: 1.5vh;
}

.select-header-node {
    transition: .3s;
}

.select-header-node:hover {
    color: rgba(196, 181, 253, 0.9);
}

.select-header-node-splitter {
    color: #4b4b4b;
}

.login-button {
    font-size: 1.6vh;
    padding: .75rem 1.75rem;
    background-color: #ffffff1a;
    border-color: #fff3;
    color: #fff;
    box-shadow: inset 0 0 0 1px #ffffff14, 0 10px 40px -12px #000000b3;
    border-radius: 1rem;
    font-family: var(--defaultFont);
}

.user-button-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-name-label {
    font-family: var(--defaultFont);
    color: #fff;
    margin-left: 1vh;
    margin-right: 0.5vh;
}

main {
    width: 100%;
    height: 100%;
}

.section-1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.section-2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.section-3 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.state-title-main {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
}

.state-title-label {
    font-size: 5vh;
    font-family: var(--defaultFont);
}

.state-title-description {
    margin-top: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #8f8f8f;
}

.state-warn-description {
    margin-top: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #8f8f8f;
    display: flex;
    align-items: center;
    gap: 0.6vh;
    padding: 1vh;
    border: 1px solid #ffa20052;
    border-radius: 1.4vh;
    background: #ff78001c;
}

.tarrifs-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2vh;
    gap: 2vh;
}

.tarrif-name-content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tarrif-card-list {
    width: 100%;
}

.tarrif-card {
    padding: 1vh;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: #ffffff08;
    border: 0 solid rgba(255, 255, 255, .1);
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 2vh;
    min-width: 30vh;
    width: 36vh;
    height: -webkit-fill-available;
}

.tarrif-name {
    font-family: var(--defaultFont);
    font-weight: 600;
    font-size: 3vh;
    margin-top: 2vh;
    border-left-width: 1px;
    padding-bottom: 2vh;
    margin-bottom: 2vh;
    border: 0 solid rgba(255, 255, 255, .1);
    border-bottom-width: 1px;
    width: 100%;
    text-align: center;
}

.tarrif-section-description {
    margin-top: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #8f8f8f;
    font-size: 2vh;
    width: 55%;
    text-align: center;
}

.tarrif-features-list {
    border: 0 solid #67ab6a;
    border-left-width: 5px;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-left: 1vh;
    flex-direction: column;
    gap: .956vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border-radius: 0.5vh;
}

.tarrif-feature-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1vh;
    font-family: var(--defaultFont);
}

.tarrif-price-button {
    border-radius: 1vh;
    padding: 1.2vh;
    background: #ffffff;
    width: 100%;
    margin-top: 2vh;
    text-align: center;
}

.tarrif-price-button-title {
    color: black;
    font-family: var(--defaultFont);
}

.tarrif-section-name {
    font-size: 5vh;
    font-family: var(--defaultFont);
}

.tarrif-coming-soon {
    filter: opacity(0.5);
}

.about-content {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 4vh;
    gap: 2vh;
}

.about-card {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: #ffffff08;
    border: 0 solid rgba(255, 255, 255, .1);
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 2vh;
    min-width: 30vh;
    width: 36vh;
    height: -webkit-fill-available;
    overflow: hidden;
}

.about-card-list {
    width: 100%;
}

.about-name-content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 0 solid rgba(255, 255, 255, .1);
    border-bottom-width: 1px;
    padding: 2vh 1.5vh;
    background: #ffffff0a;
}

.about-name {
    font-family: var(--defaultFont);
    font-weight: 600;
    font-size: 2vh;
    border-left-width: 1px;
    text-align: left;
    margin-left: 1.5vh;
}

.about-description-bg {
    padding: 2vh;
}

.about-feature-description {
    font-family: Arial, Helvetica, sans-serif;
    color: #8f8f8f;
    font-size: 2vh;
    text-align: left;
}

.footer-container {
    width: 100%;
    height: 22%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    overflow: hidden;
    padding: 2vh;
    gap: 8vh;
}

.footer-logo-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 1vh;
}

.service-disclaimer {
    font-family: Arial, Helvetica, sans-serif;
    color: #8f8f8f;
    text-align: left;
    margin-top: 1vh;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer-links {
    display: flex;
    align-items: center;
    gap: 1.5vh;
    margin-top: 1vh;
}

.footer-link {
    font-family: var(--defaultFont);
    transition: .33s;
    margin-bottom: 1vh;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-link:active {
    color: rgba(196, 181, 253, 0.9);
}

.footer-link-button {
    padding: 1vh;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 1vh;
    background: #121212;
    transition: .33s;
}

.footer-link-button:hover {
    transform: scale(1.05);
    background: #1a1a1a;
}

.footer-link-button:active {
    transform: scale(1.12);
    background: #202020;
}

.footer-column-title {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    width: -webkit-fill-available;
    text-align: left;
    margin-bottom: 2vh;
}

.user-avatar-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-height: 4.2vh;
    max-height: 4.2vh;
    min-width: 4.2vh;
    max-width: 4.2vh;
    border-radius: 6vh;
    overflow: hidden;
}

@keyframes fromUp {
    0%{top: -15%;}
    50%{top: 0%; opacity: 50%}
    100%{top: 1%; opacity: 100%;}
}

@keyframes toUp {
    0%{top: 1%;opacity: 100%;}
    50%{top: 0%;opacity: 50%}
    100%{top: -15%;}
}

.copy-link-server {
    background: black;
    width: 100%;
    border: 1.6px solid #00000000;
    padding: 1.2vh 1.5vh;
    border-radius: 1.2vh;
    transition: .2s;

}

@media (max-width: 570px) {
	.sections-menu {
        display: none;
    }
}